@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    user-select: none;
    -webkit-tap-highlight-color: transparent; /*for chrome android tap*/ 
}

.header-container{
    display: flex;
    justify-content: flex-start;
    height: 4em;
    background-color: #4593c0;
}

.header-img{
    width: 4em;
    height: 100%;
}

.header-img img{
    height: 100%;
}

.header-img:active, .toolTitle:active{
    transform: scale(1.3,1.3);
}

.header-search{
    margin: auto;
    padding-left: 10px;
    width: 20em;
    font-size: 20px;
    height: 45px;
    outline: none;
}

.toolbar{
    height: 3em;
    /* border: red solid 1px; */
    /* display: none; */
    display: flex;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.432);
}

.tool{
    height: 3em;
    display: flex;
    justify-content: flex-start;
    /* overflow: auto; */
}


.tool button{
    align-self: center;
    width: 2em;
    height: 80%;
    background-color: white;
    color: rgb(104, 153, 228);
    outline: none;
    font-size: 2em;
    border: none;
    border-radius: 30px;
    
}

.tool-border{
    width: 1em;
}

.toolTitle{
    display: block;
    padding: 0px 10px;
    text-align: center;
    line-height: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(104, 153, 228);
    border-radius: 5px;
}

.tool button:active{
    transform: translateY(2px);
}

.content{
    display: flex;
    flex-direction: column;
}

.hymn-title{
    text-align: center;
    font-size:xx-large;
    color:white;
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.hymn{
    padding-top: 25px;
    padding-left: 25px;
    overflow: scroll;
    font-size: 150%;
}

.hymn-button{
    padding: 1em;
    margin: 10px;
    color: white;
    background-color: #8fbbd4;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

.rep{
    font-weight: 1000;
    overflow: hidden;
}

.chords{
    color: red;
    white-space: pre;
    font-family: monospace;
}

.lyrics{
    white-space: pre;
    font-family: monospace;
}

.space{
    padding: 0.5em;
}

.border{
    border: solid rgb(217, 222, 229) 2px;
    /* margin-top: 2px; */
}

#sendReq{
    height: 45px;
    width: 4em;
    margin: auto;
    border: none;
    background-color: white;
    color: #4593c0;
    border-radius: 13px;
    box-shadow: 0 5px #999;
    outline: none;
    font-size: 20px;
    font-weight: 700;
}

#sendReq:active{
    transform: translateY(2px);
}

@media (max-width: 456px){
    .lyrics,.chords{
        font-size: 1.1em;
    }

    #sendReq{
        font-size: 9px;
    }

    #wrapper{
        overflow: hidden;
        white-space: nowrap;
    }

    .hymn-title{
        font-size:1.4em;
    }
}